In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv("C:\\Users\\subha\\OneDrive\\Documents\\titanic.py.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
x=df[["Pclass","Sex","Age","Fare"]]
y=df["Survived"]

In [4]:
x=pd.get_dummies(x)

In [5]:
x.head(1)

   Pclass   Age    Fare  Sex_female  Sex_male
0       3  34.5  7.8292           0         1

In [6]:
x.isnull().sum()

Pclass         0
Age           86
Fare           1
Sex_female     0
Sex_male       0
dtype: int64

In [7]:
x=x.fillna(x.mean())

In [8]:
x.isnull().sum()

Pclass        0
Age           0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
dt=DecisionTreeClassifier()
bc=BaggingClassifier(base_estimator=dt,n_estimators=10,random_state=42)

In [11]:
bc.fit(x_train,y_train)

C:\Users\subha\anaconda3\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

BaggingClassifier(base_estimator=DecisionTreeClassifier(), random_state=42)

In [12]:
y_pred=bc.predict(x_test)
print(accuracy_score(y_test,y_pred))

1.0